:root {
  /*white */
  --white: #fff;
  --white-100: #fefefe; /*display option*/
  --white-300: #c8c9ca; /*slider picked*/
  --white-400: #6d7273; /*slider no picked*/

  /*gray*/
  --gray-100: #b0b0b0; /*letters*/
  --gray-200: #737373; /*letters*/
  --gray-300: #757575; /*letters*/
  --gray-400: #7d7d7d; /*letters*/
  --gray-500: #595959; /*borders*/
  --gray-600: #7b7b7b; /*borders*/
  --gray-700: #444444; /*background*/
  --gray-800: #3b3b3b; /*background search*/
  --gray-900: hsla(0, 0%, 100%, 0.4);

  /*gray*/
  --black: #000000;
  --black-100: #2d2d2d; /*background*/
  --black-200: #373737; /*background*/
  --black-300: #303030; /*background*/
  --black-400: #262626; /*background options*/
  --black-500: #1b1b1b; /*background*/
  --black-600: #202020; /*background*/
  --black-700: #0f0f0f; /*background sign*/
  --black-800: #151515; /*background main*/

  /*green*/
  --green-100: #406233;
  --green-200: #57a66d;
  --green-300: #6cc849;

  /*orange*/
  --orange-100: #786435;
  --orange-200: #fcca52;
  --orange-300: #f9d860; /*hover*/

  /*blue*/
  --blue-100: #3c7193;
  --blue-200: #33a4ec;
  --blue-300: #1877f2;
}
