@import url(./css/global.css);
@import url(./css/home.css);
@import url(./css/vars.css);
@import url(./css/sidebar.css);

body {
  display: grid;
  grid-template-columns: 260px 1fr;
  grid-template-areas: "header header" "sidebar home";
  block-size: 100vh;
}
.sidebar {
  grid-area: sidebar;
}
header {
  grid-area: header;
}
.home {
  grid-area: home;
}
